<form [formGroup]="categoryForm" (ngSubmit)="onSubmit()" novalidate>
    <div style="margin-bottom: 1em">
        <button type="submit"
                [disabled]="categoryForm.pristine" class="btn btn-success">
            Save
        </button> &nbsp;
        <button type="reset" (click)="revert()"
                [disabled]="categoryForm.pristine" class="btn btn-danger">
            Revert
        </button>
    </div>

    <!-- Hero Detail Controls -->
    <div class="form-group">
        <label class="center-block">
            Name:
            <input class="form-control" formControlName="name">
        </label>
    </div>

    
    
</form>

<p>categoryForm value: {{ categoryForm.value | json}}</p>
<!--
<h4>Name change log</h4>
<div *ngFor="let name of nameChangeLog">{{name}}</div>
-->