<div [@routerTransition]> 
    <div class="row">
        <div class="col-sm-4">
            <!--
            <div class="container-fluid">
            -->
                <div class="card mb-3">
                    <div class="card-header">
                        <h5 class="pull-left">Categories</h5>
                        <a class="btn pull-right" (click)="createNew()"><i class="fa fa-plus" aria-hidden="true"></i></a>
                    </div>
                
                    <div>  
                        <ul class="nav navbar-nav">
                            <li *ngFor="let category of categories" (click)="select(category)">{{category.name}}</li>
                        </ul>
                    </div>
                    
                    <div *ngIf="selectedCategory || newCateogry" >
                        <hr>
                        <h3>Edit Category</h3>
                        <ca-detail [category]="selectedCategory" (onUpdate)="onRefresh($event)"></ca-detail>
                    </div>
                </div>
            <!--
            </div>
            -->
        </div>

        <div class="col-sm-4">
            
            <div class="card mb-3">
                <div class="card-header">
                    <h5 class="pull-left">Brands</h5>
                    <a class="btn pull-right"><i class="fa fa-plus" aria-hidden="true"></i></a>
                </div>
            </div>
        
        </div>

        <div class="col-sm-4">
            <div class="card mb-3">
                <div class="card-header">
                    <h5 class="pull-left">Sizes</h5>
                    <a class="btn pull-right"><i class="fa fa-plus" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
    </div>
</div> 

<!--

<nav>
    <a *ngFor="let category of categories" (click)="select(category)">{{category.name}}</a>
</nav>
 

<div *ngIf="selectedCategory || newCateogry" >
    <hr>
    <h3>Reactive Forms</h3>
    <h3>Editing: {{selectedCategory.name}}</h3>
    <ca-detail [category]="selectedCategory" (onUpdate)="onRefresh($event)"></ca-detail>


    <p>heroForm value: {{ selectedCategory | json}} + {{now}}</p>
</div>

-->