//@import '../../variables';
/*
.esh-catalog {
    $banner-height: 260px;

    &-hero {
        background-image: url($image-main_banner);
        background-size: cover;
        height: $banner-height;
        width: 100%;
    }

    &-title {
        position: relative;
        top: $banner-height / 3.5;
    }

    $filter-height: 65px;

    &-filters {
        background-color: $color-brand;
        height: $filter-height;
    }

    $filter-padding: .5rem;

    &-filter {
        -webkit-appearance: none;
        background-color: transparent;
        border-color: $color-brand-bright;
        color: $color-foreground-brighter;
        cursor: pointer;
        margin-right: 1rem;
        margin-top: .5rem;
        min-width: 140px;
        outline-color: $color-secondary;
        padding-bottom: 0;
        padding-left: $filter-padding;
        padding-right: $filter-padding;
        padding-top: $filter-padding * 3;

        option {
            background-color: $color-brand;
        }
    }

    &-label {
        display: inline-block;
        position: relative;
        z-index: 0;
    }
}
*/
