<!--
<div [@routerTransition]> 
    <div class="container-fluid">
       
        
        <div class="card text-white bg-info mb-3" style="max-width: 20rem;">
            <div class="card-header">
                Categories
            </div>
            <div>

                <ul>
                    <li *ngFor="let category of categories" (click)="select(category)">{{category.name}}</li>
                </ul>


            </div>
           
        </div>

            <div *ngIf="selectedCategory">
                <h1>Reactive Forms</h1>
                <ca-detail [category]="selectedCategory"></ca-detail>
            </div>


        </div>
</div> 
-->
<div [@routerTransition]> 
<h1>test</h1>
</div>